.linkki {
    text-decoration: none;
}

.erotus_viiva {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: purple;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    padding-bottom: 5%;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    background-color: lightblue;
    width: 100%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 6%;
    padding-right: 5%;
}

hr.viiva {
    border: 1px solid blue;
}

.listan_asettelu {
    padding-left: 7%;
}